<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>外部地图的引用</title>
    <link rel="stylesheet" href="./map.css" />
    <!-- 先引入 Vue -->
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <!-- 引入 http-vue-loader -->
    <script src="https://unpkg.com/http-vue-loader"></script>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <!-- 引入高德地图 -->
    <script src="https://webapi.amap.com/maps?v=1.4.15&key=fc80ab32a75113402df0a426957c25e3&plugin=Map3D,AMap.DistrictLayer,AMap.Scale,AMap.ToolBar,AMap.Transfer,AMap.Geolocation,AMap.plugin,AMap.Pixel"></script>


    <!-- <script src="https://webapi.amap.com/maps?v=1.4.15&key=fc80ab32a75113402df0a426957c25e3&&plugin=AMap.ControlBar,AMap.ToolBar"></script> -->
    <script src="https://webapi.amap.com/ui/1.1/main.js"></script>
    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
</head>
<body>
    <div id="app">
        <div class="title-container">
            <div class="title">
                <div class="titleIcon">
                    <img :src="backImg">
                </div>
                <div class="titleContent">{{campusName}}</div>
            </div>
            <div class="titleSelect">
                <div class="tabItem">迎新</div>
                <div class="tabItem">热门景点</div>
                <div class="tabItem1">
                    <el-select v-model="buildVal">
                        <el-option
                            v-for="item in toolBarList"
                            :key="item.id"
                            :label="item.text"
                            :value="item.text"
                        >

                        </el-option>
                    </el-select>
                </div>
                <div class="tabItem1">
                    <el-select v-model="colleageVal">
                        <el-option
                            v-for="item in colleageList"
                            :key="item.id"
                            :label="item.text"
                            :value="item.text"
                        >

                        </el-option>
                    </el-select>
                </div>
                <div class="tabItem1">
                    <el-select v-model="publicVal">
                        <el-option
                            v-for="item in publicList"
                            :key="item.id"
                            :label="item.text"
                            :value="item.text"
                        >

                        </el-option>
                    </el-select>
                </div>
            </div>
        </div>
        <div id="mapContaimer"></div>
    </div>

   <script>
        // 使用httpVueLoader
        Vue.use(httpVueLoader);

        new Vue({
            el: '#app',
            data: function () {
                return { 
                    campusName: '',
                    campusId: 0,
                    longitude: 0,
                    latitude: 0,
                    toolBarList: [
                        {
                            id: 0,
                            text: '建筑类型'
                        },
                        {
                            id: 1,
                            text: '所有建筑'
                        },
                        {
                            id: 100,
                            text: '学校校门'
                        },
                        {
                            id: 101,
                            text: '教学楼'
                        },
                        {
                            id: 102,
                            text: '办公楼'
                        },
                        {
                            id: 103,
                            text: '图书馆'
                        },
                        {
                            id: 104,
                            text: '科研实验'
                        },
                        {
                            id: 105,
                            text: '宿舍公寓'
                        },
                        {
                            id: 106,
                            text: '食堂餐厅'
                        },
                        {
                            id: 107,
                            text: '运动场馆'
                        },
                        {
                            id: 108,
                            text: '医院救助'
                        },
                        {
                            id: 109,
                            text: '停车场'
                        },
                        {
                            id: 111,
                            text: '喷泉雕塑'
                        },
                        {
                            id: 110,
                            text: '家属住宅'
                        },
                        {
                            id: 199,
                            text: '其它建筑'
                        }
                    ],
                    colleageList: [
                        {
                            id: 0,
                            text: '单位类型'
                        },
                        {
                            id: 2,
                            text: '所有单位'
                        },
                        {
                            id: 201,
                            text: '教学学院'
                        },
                        {
                            id: 202,
                            text: '党群机构'
                        },
                        {
                            id: 203,
                            text: '职能部门'
                        },
                        {
                            id: 204,
                            text: '科研机构'
                        },
                        {
                            id: 205,
                            text: '附属单位'
                        },
                        {
                            id: 299,
                            text: '其它机构'
                        }
                    ],
                    publicList: [
                        {
                            id: 0,
                            text: '服务类型'
                        },
                        {
                            id: 5,
                            text: '所有服务'
                        },
                        {
                            id: 501,
                            text: '购物超市'
                        },
                        {
                            id: 502,
                            text: '咖啡书店'
                        },
                        {
                            id: 503,
                            text: 'ATM银行'
                        },
                        {
                            id: 504,
                            text: '校园卡'
                        },
                        {
                            id: 505,
                            text: '打字复印'
                        },
                        {
                            id: 506,
                            text: '邮寄快递'
                        },
                        {
                            id: 507,
                            text: '澡堂理发'
                        },
                        {
                            id: 508,
                            text: '手机电子'
                        },
                        {
                            id: 599,
                            text: '其它服务'
                        }
                    ],
                    lngAndLatList: [
                        {
                            id: 1,
                            longitude: 117.060109, // 经度
                            latitude: 36.675668,
                            markerImg: './img/3d-zhongxin3.png'
                        },
                        {
                            id: 6,
                            longitude: 117.143552,
                            latitude: 36.666811,
                            markerImg: './img/3d-software.png'
                        },
                        {
                            id: 2,
                            longitude: 117.068195,
                            latitude: 36.687395,
                            markerImg: './img/3d-hongjialou1.png'
                        },
                        {
                            id: 5,
                            longitude: 117.028551,
                            latitude: 36.651162,
                            markerImg: './img/3d-qianfoshan3.png'
                        },
                        {
                            id: 4,
                            longitude: 117.050303,
                            latitude: 36.601063,
                            markerImg: './img/3d-xinglongshan.png'
                        },
                        {
                            id: 3,
                            longitude: 117.018274,
                            latitude: 36.652161,
                            markerImg: './img/3d-baotuquan3.png'
                        },
                        {
                            id: 9,
                            longitude: 117.454672,
                            latitude: 36.685585
                        },
                        {
                            id: 7,
                            longitude: 120.688292,
                            latitude: 36.365274,
                            markerImg: './img/3d-qingdao3.png'
                        },
                        {
                            id: 8,
                            longitude: 122.058225,
                            latitude: 37.532313,
                            markerImg: './img/3d-weihai5.png'
                        }
                    ],
                    backImg: './img/back1.png', 
                    buildVal: '',
                    publicVal: '',
                    colleageVal: '',
                    campusPicture: ''
                }
            },
            created() {
                this.transformRem();
                this.getSearchVal();
                // this.getCampusMap();
            },
            mounted() {
                console.log('这里显示的是图层');
                console.log(this.campusPicture);
                this.imageLayer = new AMap.ImageLayer({
                    url: this.campusPicture,
                    bounds: new AMap.Bounds(
                        [117.055539,36.671882],
                        [117.064508,36.68114]    
                    ),
                    // zIndex: 5,
                    zooms: [13, 19]
                });
                this.map = new AMap.Map("mapContaimer", {
                    //地图显示的缩放级别，若center与level未赋值，地图初始化默认显示用户所在城市范围
                    //3D地图下，zoom值，可以设置为浮点数。（在V1.3.0版本level参数调整为zoom，3D地图修改自V1.4.0开始生效）
                    //山东省经度：东经114度19分-122度43分
                    //山东省纬度：北纬34度22分-38度23分
                    //据此算出中心经纬度：
                    resizeEnable: true,
                    expendZoomRange: true,
                    center: [this.longitude,this.latitude],
                    zoom: 16,
                    pitch: 0,
                    viewMode: "3D",
                    mapStyle: 'amap://styles/26928e0d237c05ee59578815438bc75e', //设置地图的显示样式
                    layers: [
                        new AMap.TileLayer(),
                        this.imageLayer
                    ]
                });
            },
            methods: {
                transformRem() {
                    var winW = document.documentElement.clientWidth || document.body.clientWidth;
                    document.documentElement.style.fontSize =  (winW *20)/750 + "px"; // 1rem = 10px
                },
                getSearchVal() {
                    var url = decodeURI(location.search); //获取url中"?"符后的字串
                    var theRequest = new Object();
                    if (url.indexOf('?') != -1) {
                        url = url.substr(1);
                    }
                    if (url) {
                        var strs = url.split('&');
                        for (var i = 0; i < strs.length; i++) {
                            var srtArry = strs[i].split('=');
                            var y = srtArry.shift();
                            theRequest[y] = unescape(srtArry.join('='));
                        }
                    }
                    this.campusId = theRequest.campusId;
                    this.campusName = theRequest.campusName;
                    this.getLogAndLat();
                },
                getLogAndLat() {
                    this.lngAndLatList.forEach(item => {
                        if(item.id == this.campusId) {
                            this.longitude = item.longitude;
                            this.latitude = item.latitude;
                            this.campusPicture = item.markerImg;
                        }
                    });
                },

            },
        })
   </script> 
</body>
</html>