<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>外部地图的引用</title>
    <link rel="stylesheet" href="http://localhost:8081/map.css" />

    <!-- <link rel="stylesheet" href="./map.css" /> -->
    <!-- 先引入 Vue -->
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <!-- 引入 http-vue-loader -->
    <script src="https://unpkg.com/http-vue-loader"></script>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <!-- 引入高德地图 -->
    <script src="https://webapi.amap.com/maps?v=1.4.15&key=fc80ab32a75113402df0a426957c25e3&plugin=Map3D,AMap.DistrictLayer,AMap.Scale,AMap.ToolBar,AMap.Transfer,AMap.Geolocation,AMap.plugin,AMap.Pixel"></script>
    <script src="http://cdn.suoluomei.com/common/js2.0/axios/axios.min.js"></script>

    <script type="text/javascript" src="https://res.wx.qq.com/open/js/jweixin-1.3.2.js"></script>
    <!-- <script src="https://webapi.amap.com/maps?v=1.4.15&key=fc80ab32a75113402df0a426957c25e3&&plugin=AMap.ControlBar,AMap.ToolBar"></script> -->
    <script src="https://webapi.amap.com/ui/1.1/main.js"></script>
    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
</head>
<body>
    <div id="app">
        <div class="title-container">
            <div class="title">
                <div class="titleIcon" @click='goToBackPage'>
                    <img :src="backImg">
                </div>
                <div class="titleContent">{{campusName}}</div>
            </div>
            <div class="titleSelect">
                <div class="tabClass">
                    <el-tabs v-model="activeName">
                        <el-tab-pane label="迎新" name="4"></el-tab-pane>
                        <el-tab-pane label="热门景点" name="3"></el-tab-pane>
                    </el-tabs>
                </div>
                <div class="tabItem1">
                    <el-select v-model="buildVal">
                        <el-option
                            v-for="item in toolBarList"
                            :key="item.id"
                            :label="item.text"
                            :value="item.id"
                        >

                        </el-option>
                    </el-select>
                </div>
                <div class="tabItem1">
                    <el-select v-model="colleageVal">
                        <el-option
                            v-for="item in colleageList"
                            :key="item.id"
                            :label="item.text"
                            :value="item.id"
                        >

                        </el-option>
                    </el-select>
                </div>
                <div class="tabItem1">
                    <el-select v-model="publicVal">
                        <el-option
                            v-for="item in publicList"
                            :key="item.id"
                            :label="item.text"
                            :value="item.id"
                        >

                        </el-option>
                    </el-select>
                </div>
            </div>
        </div>
        <!-- 地图以及手绘地图的贴图 -->
        <div id="mapContaimer"></div>

        <!-- 搜索框 -->
        <div class="searchBox">
            <input class="inputBox" v-model="searchVal" placeholder='请输入查询关键词' />
            <button class="searchBtn" @click="getResultList">查询</button>
        </div>

        <!-- 页面底部的位置弹框 -->
        <div id="Dialog" v-if="isShowDialog">
            <div class="contentTitle">
                <div class="localtionTitle">{{localtionTitle}}</div>
                <!-- <div class="localtionDis">距你{{localtionDis}}</div> -->
            </div>
            <div class="contentDes" @click="goToWxDetail">
                <div class="localtionContent">
                    <span class="localtionContentText">{{localtionDes}}</span>
                </div>
            </div>
            <div class="contentOpt" >
                <div class="optList">
                    <div class="optDetail">
                        <span class="optDetailSpan">
                            <img class="detailImg" src="./img/3d-detail.png">
                        </span>
                        <span @click='goToWxDetail'>详情</span>
                    </div>
                    <div class="optAllPic">
                        <span class="optDetailSpan">
                            <img class="detailImg" src="./img/shijing.png">
                        </span>
                        <span @click='goToWxAllPic'>全景</span>
                    </div>
                    <div class="optPath">
                        <span class="optDetailSpan">
                            <img class="detailImg" src="./img/go.png">
                        </span>
                        <span @click='goToWxPath'>前往</span>
                    </div>
                </div>
            </div>
        </div>

        <el-dialog
            :visible.sync="errorDialog"
            width="80%"
            title="无此类数据！"
        >
        </el-dialog>
    </div>

   <script>
        // 使用httpVueLoader
        Vue.use(httpVueLoader);

        new Vue({
            el: '#app',
            data: function () {
                return { 
                    oneDescription: {
                        IsForFreshman: 1,
                        IsHotspot: 0,
                        PoiID: 311,
                        PoiName: "中心校区北门",
                        PoiSubType: 100,
                        PoiType: 100,
                        PoiTypeName: "出入门",
                        PoiUUID: "705ac3a7-1f64-11ec-95a3-52540036815d",
                        awesomeIcon: "sign-out",
                        campusID: 1,
                        coverPicUrl: "/pic/16275374577538b4d903f-317b-44e1-8978-ea9cb322dcfc.jpg",
                        detailDescribe: "中心校区北门，是师生进出校园以及具有通行权限的校外车辆进出的地方，配有人脸识别、体温监测等设备。",
                        latitude: 36.67912,
                        longitude: 117.05809,
                        pic720DefaultLat: null,
                        pic720DefaultLng: null,
                        pic720Url: null,
                        picUrls: "/pic/16275374577538b4d903f-317b-44e1-8978-ea9cb322dcfc.jpg",
                        shortDescribe: "中心校区北门",
                        state: 0,
                        updateTime: "2021-10-14 18:59:00"
                    },
                    errorDialog: false,
                    isShowDialog: true,
                    localtionTitle: '', //当前点击点的位置信息
                    localtionDis: '', //当前位置距位置点的距离
                    localtionDes: '',//当前位置点的简介
                    campusName: '',
                    campusId: 0,
                    longitude: 0,
                    latitude: 0,
                    toolBarList: [
                        {
                            id: 0,
                            text: '建筑类型'
                        },
                        {
                            id: 1,
                            text: '所有建筑'
                        },
                        {
                            id: 100,
                            text: '学校校门'
                        },
                        {
                            id: 101,
                            text: '教学楼'
                        },
                        {
                            id: 102,
                            text: '办公楼'
                        },
                        {
                            id: 103,
                            text: '图书馆'
                        },
                        {
                            id: 104,
                            text: '科研实验'
                        },
                        {
                            id: 105,
                            text: '宿舍公寓'
                        },
                        {
                            id: 106,
                            text: '食堂餐厅'
                        },
                        {
                            id: 107,
                            text: '运动场馆'
                        },
                        {
                            id: 108,
                            text: '医院救助'
                        },
                        {
                            id: 109,
                            text: '停车场'
                        },
                        {
                            id: 111,
                            text: '喷泉雕塑'
                        },
                        {
                            id: 110,
                            text: '家属住宅'
                        },
                        {
                            id: 199,
                            text: '其它建筑'
                        }
                    ],
                    colleageList: [
                        {
                            id: 0,
                            text: '单位类型'
                        },
                        {
                            id: 2,
                            text: '所有单位'
                        },
                        {
                            id: 201,
                            text: '教学学院'
                        },
                        {
                            id: 202,
                            text: '党群机构'
                        },
                        {
                            id: 203,
                            text: '职能部门'
                        },
                        {
                            id: 204,
                            text: '科研机构'
                        },
                        {
                            id: 205,
                            text: '附属单位'
                        },
                        {
                            id: 299,
                            text: '其它机构'
                        }
                    ],
                    publicList: [
                        {
                            id: 0,
                            text: '服务类型'
                        },
                        {
                            id: 5,
                            text: '所有服务'
                        },
                        {
                            id: 501,
                            text: '购物超市'
                        },
                        {
                            id: 502,
                            text: '咖啡书店'
                        },
                        {
                            id: 503,
                            text: 'ATM银行'
                        },
                        {
                            id: 504,
                            text: '校园卡'
                        },
                        {
                            id: 505,
                            text: '打字复印'
                        },
                        {
                            id: 506,
                            text: '邮寄快递'
                        },
                        {
                            id: 507,
                            text: '澡堂理发'
                        },
                        {
                            id: 508,
                            text: '手机电子'
                        },
                        {
                            id: 599,
                            text: '其它服务'
                        }
                    ],
                    lngAndLatList: [
                        {
                            id: 1,
                            longitude: 117.060109, // 经度
                            latitude: 36.675668,
                            markerImg: './img/3d-zhongxin3.png'
                        },
                        {
                            id: 6,
                            longitude: 117.143552,
                            latitude: 36.666811,
                            markerImg: './img/3d-software.png'
                        },
                        {
                            id: 2,
                            longitude: 117.068195,
                            latitude: 36.687395,
                            markerImg: './img/3d-hongjialou1.png'
                        },
                        {
                            id: 5,
                            longitude: 117.028551,
                            latitude: 36.651162,
                            markerImg: './img/3d-qianfoshan3.png'
                        },
                        {
                            id: 4,
                            longitude: 117.050303,
                            latitude: 36.601063,
                            markerImg: './img/3d-xinglongshan.png'
                        },
                        {
                            id: 3,
                            longitude: 117.018274,
                            latitude: 36.652161,
                            markerImg: './img/3d-baotuquan3.png'
                        },
                        {
                            id: 9,
                            longitude: 117.454672,
                            latitude: 36.685585
                        },
                        {
                            id: 7,
                            longitude: 120.688292,
                            latitude: 36.365274,
                            markerImg: './img/3d-qingdao3.png'
                        },
                        {
                            id: 8,
                            longitude: 122.058225,
                            latitude: 37.532313,
                            markerImg: './img/3d-weihai5.png'
                        }
                    ],
                    backImg: './img/back1.png', 
                    buildVal: 0,
                    publicVal: 0,
                    colleageVal: 0,
                    campusPicture: '',
                    isShowDivide: true, // 控制选中的时候下划线的显示与隐藏
                    activeName: '4',
                    searchVal: '', // 模糊搜索
                    token: '', // 访问页面调用的token
                    dataList: [], //调用接口返回的数据
                    markersList: [], //点标记的数组，可能一次会加入很多点
                }
            },
            created() {
                // 获得token
                this.getToken();
                this.transformRem();
                this.getSearchVal();
                // 打开页面的时候，调用接口
                this.getResultData(this.activeName);
            },
            watch: {
                'buildVal':function(newVal, oldVal) {
                    if(newVal !== 0){
                        this.isShowDialog = false;
                        this.activeName = '';
                        this.publicVal = 0;
                        this.colleageVal = 0;
                        this.getResultBuildList(newVal);
                    }
                },
                'publicVal':function(newVal, oldVal){
                    if (newVal !== 0) {
                        this.isShowDialog = false;
                        this.activeName = '';
                        this.buildVal = 0;
                        this.colleageVal = 0;
                        this.getResultBuildList(newVal);
                    }
                },
                'colleageVal':function(newVal, oldVal){
                    if (newVal !== 0) {
                        this.isShowDialog = false;
                        this.activeName = '';
                        this.publicVal = 0;
                        this.buildVal = 0;
                        this.getResultBuildList(newVal);
                    }
                },
                'activeName':function(newVal, oldVal) {
                    if (newVal !== oldVal && (newVal == '3' || newVal == '4')) {
                        this.isShowDialog = false;
                        this.getResultData(newVal);
                    }
                }
            },
            mounted() {
                this.imageLayer = new AMap.ImageLayer({
                    url: this.campusPicture,
                    bounds: new AMap.Bounds(
                        [117.055539,36.671882],
                        [117.064508,36.68114]    
                    ),
                    // zIndex: 5,
                    zooms: [13, 19]
                });
                this.map = new AMap.Map("mapContaimer", {
                    resizeEnable: true,
                    expendZoomRange: true,
                    center: [this.longitude,this.latitude],
                    zoom: 16,
                    pitch: 0,
                    viewMode: "3D",
                    mapStyle: 'amap://styles/26928e0d237c05ee59578815438bc75e', //设置地图的显示样式
                    layers: [
                        new AMap.TileLayer(),
                        this.imageLayer
                    ]
                });
                this.map.on('click', this.showInfoClick)
            },
            methods: {
                //获得页面中的token
                getToken(){
                    $.ajax({
                        url: '/campus/m_generateToken',
                        type: 'post',
                        dataType: 'json',
                        success:function(data){
                            localStorage.setItem('token', data.msg);
                        },
                        error:function(err){
                            console.log(err);
                        }
                    })
                },
                transformRem() {
                    var winW = document.documentElement.clientWidth || document.body.clientWidth;
                    document.documentElement.style.fontSize =  (winW *20)/750 + "px"; // 1rem = 10px
                },
                getSearchVal() {
                    var url = decodeURI(location.search); //获取url中"?"符后的字串
                    var theRequest = new Object();
                    if (url.indexOf('?') != -1) {
                        url = url.substr(1);
                    }
                    if (url) {
                        var strs = url.split('&');
                        for (var i = 0; i < strs.length; i++) {
                            var srtArry = strs[i].split('=');
                            var y = srtArry.shift();
                            theRequest[y] = unescape(srtArry.join('='));
                        }
                    }
                    this.campusId = theRequest.campusId;
                    this.campusName = theRequest.campusName;
                    this.getLogAndLat();
                },
                getLogAndLat() {
                    this.lngAndLatList.forEach(item => {
                        if(item.id == this.campusId) {
                            this.longitude = item.longitude;
                            this.latitude = item.latitude;
                            this.campusPicture = item.markerImg;
                        }
                    });
                },
                checkLine() {
                    this.isShowDivide = !this.isShowDivide;
                },
                /*
                得到的查询结果
                */
                getResultList() {
                    if (this.markersList.length) {
                        this.map.remove(this.markersList);
                    }
                    let _this = this;
                    let token = localStorage.getItem('token');
                    $.ajax({
                        url: '/poi/getCampusPoiList',
                        type: 'get',
                        dataType: 'json',
                        data: {
                            token: token,
                            ID: this.campusId,
                            keyWord: this.searchVal
                        },
                        success:function(res) {
                            if (res.recs.length) {
                                _this.dataList = res.recs;
                                for(let i = 0;i<_this.dataList.length;i++){
                                    let longitude = _this.dataList[i].longitude;
                                    let latitude = _this.dataList[i].latitude;
                                    
                                    //文本标记
                                    var text = new AMap.Text({
                                        id: _this.dataList[i].PoiID,
                                        text: _this.dataList[i].PoiName,
                                        cursor: 'pointer',
                                        // map: this.map,
                                        position: [longitude, latitude],
                                        anchor: 'center',
                                        style: {
                                            'padding': '0.05rem 0.1rem',
                                            'margin-bottom': '0rem',
                                            'border-radius': '0.5rem',
                                            'background-color': 'rgba(255,255,255,0.8)',
                                            'border-width': 1,
                                            'box-shadow': '0 2px 6px 0 rgba(114, 124, 245, 0.5)',
                                            'text-align': 'center',
                                            'font-size': '12px',
                                            'color': 'rgba(155,13,20,1)'
                                        },
                                    })
                                    text.setMap(_this.map);
                                    text.on('click', _this.markerClick);
                                    _this.markersList.push(text);
                                }
                            } else {
                                _this.errorDialog = true;
                            }
                        },
                        error:function(err) {
                            console.log('请求失败');
                        }
                    })
                },


                getResultData(poiType) {
                    if (this.markersList.length) {
                        this.map.remove(this.markersList);
                    }
                    let _this = this;
                    let token = localStorage.getItem('token');
                    $.ajax({
                        url: '/poi/getCampusPoiList',
                        type: 'get',
                        dataType: 'json',
                        data: {
                            token: token,
                            ID: this.campusId,
                            poiType: poiType
                        },
                        success:function(res) {
                            if (res.recs.length) {
                                _this.dataList = res.recs;
                                for(let i = 0;i<_this.dataList.length;i++){
                                    let longitude = _this.dataList[i].longitude;
                                    let latitude = _this.dataList[i].latitude;
                                    if (longitude == null || latitude == null) {
                                        continue;
                                    }
                                    //文本标记
                                    var text = new AMap.Text({
                                        id: _this.dataList[i].PoiID,
                                        text: _this.dataList[i].PoiName,
                                        cursor: 'pointer',
                                        // map: this.map,
                                        position: [longitude, latitude],
                                        anchor: 'center',
                                        style: {
                                            'padding': '0.05rem 0.1rem',
                                            'margin-bottom': '0rem',
                                            'border-radius': '0.5rem',
                                            'background-color': 'rgba(255,255,255,0.8)',
                                            'border-width': 1,
                                            'box-shadow': '0 2px 6px 0 rgba(114, 124, 245, 0.5)',
                                            'text-align': 'center',
                                            'font-size': '12px',
                                            'color': 'rgba(155,13,20,1)'
                                        },
                                    })
                                    text.setMap(_this.map);
                                    text.on('click', _this.markerClick);
                                    _this.markersList.push(text);
                                }
                            } else {
                                _this.errorDialog = true;
                            }
                        },
                        error:function(err) {
                            console.log('请求失败');
                        }
                    })
                },

                // 得到建筑数据
                getResultBuildList(poiType){
                    if (poiType == '1' || poiType == '2' || poiType == '5') {
                        this.getResultData(poiType);
                        return;
                    }
                    if (this.markersList.length) {
                        this.map.remove(this.markersList);
                    }
                    let _this = this;
                    let token = localStorage.getItem('token');
                    $.ajax({
                        url: '/poi/getCampusPoiList',
                        type: 'get',
                        dataType: 'json',
                        data: {
                            token: token,
                            ID: this.campusId,
                            poiSubType: poiType
                        },
                        success:function(res) {
                            if (res.recs.length) {
                                _this.dataList = res.recs;
                                for(let i = 0;i<_this.dataList.length;i++){
                                    let longitude = _this.dataList[i].longitude;
                                    let latitude = _this.dataList[i].latitude;
                                    if (longitude == null || latitude == null) {
                                        continue;
                                    }
                                    //文本标记
                                    var text = new AMap.Text({
                                        id: _this.dataList[i].PoiID,
                                        text: _this.dataList[i].PoiName,
                                        data: _this.dataList[i],
                                        cursor: 'pointer',
                                        // map: this.map,
                                        position: [longitude, latitude],
                                        anchor: 'center',
                                        style: {
                                            'padding': '0.05rem 0.1rem',
                                            'margin-bottom': '0rem',
                                            'border-radius': '0.5rem',
                                            'background-color': 'rgba(255,255,255,0.8)',
                                            'border-width': 1,
                                            'box-shadow': '0 2px 6px 0 rgba(114, 124, 245, 0.5)',
                                            'text-align': 'center',
                                            'font-size': '12px',
                                            'color': 'rgba(155,13,20,1)'
                                        },
                                    })
                                    text.setMap(_this.map);
                                    text.on('click', _this.markerClick);
                                    _this.markersList.push(text);
                                }
                            } else {
                                // 弹出弹框
                                _this.errorDialog = true;
                            }
                        },
                        error:function(err) {
                            console.log('请求失败');
                        }
                    })
                },

                // 点击地图上的某一点，就出现类似于弹框的样式
                markerClick(e) {
                    for(let i=0;i<this.dataList.length;i++){
                        if (this.dataList[i].PoiID == e.target.w.id) {
                            this.localtionTitle = this.dataList[i].PoiName;
                            // 获得当前位置点与点击的位置点的距离
                            this.getDistanceBetween(this.dataList[i].position);
                            this.showLocationMsg(this.dataList[i]);
                            break;
                        }
                    }
                    // this.setPoiSelected(e,true);
                }, 
                
                //展示当前点击的位置点的信息
                showLocationMsg(data){
                    this.isShowDialog = true;
                    // Object.assign(this.oneDescription,data);
                    console.log(this.oneDescription);
                    this.localtionDes = data.shortDescribe;
                },

                // 获取当前位置与点击出的距离
                getDistanceBetween(position){
                    var _this = this;
                    AMap.plugin('AMap.Geolocation', function(){
                        var geolocation = new AMap.Geolocation({
                            enableHighAccuracy: true, //是否使用高精度定位，默认:true
                            timeout: 10000, //超过10秒后停止定位，默认：无穷大
                            buttonOffset: new AMap.Pixel(10, 20), //定位按钮与设置的停靠位置的偏移量，默认：Pixel(10, 20)
                            zoomToAccuracy: false, //定位成功后调整地图视野范围使定位位置及精度范围视野内可见，默认：false
                        });
                        _this.map.addControl(geolocation);
                        geolocation.getCurrentPosition(function(status,result){
                            if(status=='complete'){
                                // console.log(result);
                            }
                            if (status == 'error') {
                                // console.log('定位失败');
                                // console.log(result);
                            }
                        })
                    })
                },

                //点击某一点的位置，出现响应的弹框
                setPoiSelected(e,isMoveListItem){
                },

                // 点击地图上的某一点,当点击的点不是地图上定义的标签的时候，就将弹框关闭
                showInfoClick(e) {
                    if (!e.target.w.id) {
                        this.isShowDialog = false;
                    }
                },

                //跳转到微信小程序中的详情页面
                goToWxDetail(){
                    wx.miniProgram.navigateTo({
                        url: '/pages/outDetail/outDetail?current='+JSON.stringify(this.oneDescription)
                    });
                },

                // 跳转到微信小程序中的全景页面
                goToWxAllPic() {
                    // 跳转到全景页面中
                    // let token = localStorage.getItem('token')
                    let campusId = this.campusId;
                    let poiName = '校区正门';
                    // let poiName = this.oneDescription.PoiName;
                    window.location.href=`http://localhost:8081/allPicture.html?campusId=${campusId}&keyWord=${poiName}`;
                    // wx.miniProgram.navigateTo({
                    //     url: '/pages/allPicture/allPicture'
                    // });
                },
                 
                // 跳转到微信小程序的路径规划页面中
                goToWxPath() {
                    wx.miniProgram.navigateTo({
                        url: ''
                    });
                },

                //跳转到上一页
                goToBackPage() {
                    wx.miniProgram.navigateTo({
                        url: '/pages/index/index'
                    });
                }
            },
        })
   </script> 
</body>
</html>