<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>浏览路线</title>
    <link rel="stylesheet" href="./traceSortPage.css" />

    <script src="https://webapi.amap.com/maps?v=1.4.15&key=fc80ab32a75113402df0a426957c25e3&plugin=Map3D,AMap.DistrictLayer,AMap.Scale,AMap.ToolBar,AMap.Transfer,AMap.Geolocation,AMap.plugin,AMap.Pixel"></script>
    <script type="text/javascript" src="https://res.wx.qq.com/open/js/jweixin-1.3.2.js"></script>
    <script src="https://webapi.amap.com/ui/1.1/main.js"></script>
    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
    
    <!-- 先引入 Vue -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
    <!-- <script src="https://unpkg.com/vue/dist/vue.js"></script> -->
    <!-- 引入 http-vue-loader -->
    <script src="https://unpkg.com/http-vue-loader"></script>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
</head>
<body>
    <div id="app">
        <div class="divTitlebar" >
            <div class="divTitlebarLeft" >
                <img src="/images/back1.png" @click='goToBackPage'/>
            </div>
            <div class="divTitlebarCenter" >
                <span>{{pageName}}</span>
            </div>
        </div>
        <div class="traceItems">
            <div 
                v-for="(item, index) in selectedTraceList"
                :key="index"
                class="traceItem"
                @click="goToTracePlan(index)"
            >
                <div class="traceItemLeft">
                    <img :src="item.traceImg">
                </div>
                <div class="traceItemRight">
                    <div class="top">
                        <span>{{item.traceName}}</span>
                    </div>
                    <div class="center">
                        <span class="number">{{item.traceNumber}}</span>
                        <span class="number">{{item.traceHource}}</span>
                        <span class="number">{{item.traceDistance}}</span>
                    </div>
                    <div class="bottom">
                        <div class="dialog-left-labels">
                            <div 
                                class="dialog-left-label"
                                v-for="item in labelsArr" 
                                :key="item.id" 
                                :value="item.id"
                            >
                                {{item.label}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
         Vue.use(httpVueLoader);

        new Vue({
            el: '#app',
            data: function () {
                return { 
                    campusId: '',
                    campusName: '',
                    pageName: '浏览路线',
                    traceRouterList: [
                        {
                            id: 1,
                            traceList: [
                                {
                                    traceImg: './img/pic-zhongxin.jpg',
                                    traceName: '游客的一天',
                                    traceNumber: '24处景观',
                                    traceHource: '2.5小时',
                                    traceDistance: '3.2公里'
                                },
                                {
                                    traceImg: './img/zx-student.jpg',
                                    traceName: '团橘的一天',
                                    traceNumber: '16处景观',
                                    traceHource: '2小时',
                                    traceDistance: '2.6公里'
                                }
                            ]
                        },
                        {
                            id: 2,
                            traceList: [
                                {
                                    traceImg: './img/pic-honglou.jpg',
                                    traceName: '游客的一天',
                                    traceNumber: '20处景观',
                                    traceHource: '2小时',
                                    traceDistance: '2.1公里'
                                },
                                {
                                    traceImg: './img/hl-student.jpg',
                                    traceName: '团橘的一天',
                                    traceNumber: '13处景观',
                                    traceHource: '1.5小时',
                                    traceDistance: '1.4公里'
                                }
                            ]
                        },
                        {
                            id: 3,
                            traceList: [
                                {
                                    traceImg: './img/pic-qianfoshan.jpg',
                                    traceName: '游客的一天',
                                    traceNumber: '20处景观',
                                    traceHource: '2小时',
                                    traceDistance: '2.4公里'
                                },
                                {
                                    traceImg: './img/qfs-student.jpg',
                                    traceName: '团橘的一天',
                                    traceNumber: '12处景观',
                                    traceHource: '1.5小时',
                                    traceDistance: '1.7公里'
                                }
                            ]
                        },
                        {
                            id: 4,
                            traceList: [
                                {
                                    traceImg: './img/pic-baotuquan.jpg',
                                    traceName: '游客的一天',
                                    traceNumber: '24处景观',
                                    traceHource: '2.5小时',
                                    traceDistance: '3.2公里'
                                },
                                {
                                    traceImg: './img/btq-student.jpg',
                                    traceName: '团橘的一天',
                                    traceNumber: '13处景观',
                                    traceHource: '2小时',
                                    traceDistance: '1.9公里'
                                }
                            ]
                        },
                        {
                            id: 5,
                            traceList: [
                                {
                                    traceImg: './img/pic-xinglongshan.jpg',
                                    traceName: '游客的一天',
                                    traceNumber: '20处景观',
                                    traceHource: '2.5小时',
                                    traceDistance: '3.8公里'
                                },
                                {
                                    traceImg: './img/xls-student.jpg',
                                    traceName: '团橘的一天',
                                    traceNumber: '14处景观',
                                    traceHource: '2小时',
                                    traceDistance: '2.1公里'
                                }
                            ]
                        },
                        {
                            id: 6,
                            traceList: [
                                {
                                    traceImg: './img/pic-ruanjian.jpg',
                                    traceName: '游客的一天',
                                    traceNumber: '13处景观',
                                    traceHource: '1小时',
                                    traceDistance: '1.8公里'
                                },
                                {
                                    traceImg: './img/sdur_3.jpg',
                                    traceName: '团橘的一天',
                                    traceNumber: '10处景观',
                                    traceHource: '1小时',
                                    traceDistance: '1.1公里'
                                }
                            ]
                        },
                        {
                            id: 7,
                            traceList: [
                                {
                                    traceImg: './img/pic-weihai.jpg',
                                    traceName: '游客的一天',
                                    traceNumber: '22处景观',
                                    traceHource: '3小时',
                                    traceDistance: '2.7公里'
                                },
                                {
                                    traceImg: './img/sduwei_1.jpg',
                                    traceName: '团橘的一天',
                                    traceNumber: '12处景观',
                                    traceHource: '2小时',
                                    traceDistance: '2.1公里'
                                }
                            ]
                        },
                        {
                            id: 8,
                            traceList: [
                                {
                                    traceImg: './img/pic-qingdao.jpg',
                                    traceName: '游客的一天',
                                    traceNumber: '20处景观',
                                    traceHource: '2小时',
                                    traceDistance: '4.4公里'
                                },
                                {
                                    traceImg: './img/qd-student.jpg',
                                    traceName: '团橘的一天',
                                    traceNumber: '10处景观',
                                    traceHource: '2小时',
                                    traceDistance: '3.0公里'
                                }
                            ]
                        },
                    ],
                    labelsArr: [
                        {
                            id: '1',
                            label: '校园风光'
                        },
                        {
                            id: '2',
                            label: '自然景观'
                        },
                        {
                            id: '3',
                            label: '打卡胜地'
                        }
                    ],
                    selectedTraceList: []
                }
            },
            created() {
                this.getSearchVal(); // 得到url中的参数
            },
            methods: {
                // 返回上一页面
                goToBackPage() {
                    window.location.href=`ttt.html?campusId=${this.campusId}&campusName=${this.campusName}`;
                },
                getSearchVal() {
                    var url = decodeURI(location.search); //获取url中"?"符后的字串
                    var theRequest = new Object();
                    if (url.indexOf('?') != -1) {
                        url = url.substr(1);
                    }
                    if (url) {
                        var strs = url.split('&');
                        for (var i = 0; i < strs.length; i++) {
                            var srtArry = strs[i].split('=');
                            var y = srtArry.shift();
                            theRequest[y] = unescape(srtArry.join('='));
                        }
                    }
                    this.campusId = theRequest.campusId;
                    this.campusName = theRequest.campusName;
                    this.getTraceRouter();
                },
                getTraceRouter() {
                    this.traceRouterList.forEach(item => {
                        if (item.id == this.campusId) {
                            this.selectedTraceList = item.traceList;
                        }
                    });
                },
                goToTracePlan(index) {
                    window.location.href = `traceRouter.html?campusId=${this.campusId}&campusName=${this.campusName}&index=${index}`;
                },


            },
        })
    </script>
</body>
</html>